<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_ct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{71,73}</string>
                <key>textureRect</key>
                <string>{{755,176},{71,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_fmiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{893,173},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_guanb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{735,101},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_guanb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,50}</string>
                <key>textureRect</key>
                <string>{{556,202},{48,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_huanann.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,92}</string>
                <key>spriteSourceSize</key>
                <string>{244,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_huanann2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,102}</string>
                <key>spriteSourceSize</key>
                <string>{275,102}</string>
                <key>textureRect</key>
                <string>{{279,146},{275,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_huanann3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,100}</string>
                <key>spriteSourceSize</key>
                <string>{279,100}</string>
                <key>textureRect</key>
                <string>{{403,1},{279,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_huanann4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,98}</string>
                <key>spriteSourceSize</key>
                <string>{278,98}</string>
                <key>textureRect</key>
                <string>{{684,1},{278,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_jbei2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{47,48}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{608,202},{47,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_jbeoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{883,101},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{143,142}</string>
                <key>textureRect</key>
                <string>{{141,1},{143,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_loading_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,44}</string>
                <key>spriteSourceSize</key>
                <string>{165,44}</string>
                <key>textureRect</key>
                <string>{{95,1},{165,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_shiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{657,193},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_shiz2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{95,168},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_tchuang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{116,117}</string>
                <key>textureRect</key>
                <string>{{285,1},{116,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_tchuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{170,146},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_tchuang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{88,81}</string>
                <key>textureRect</key>
                <string>{{652,103},{88,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_xiaosp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{403,103},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_xip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{71,73}</string>
                <key>textureRect</key>
                <string>{{810,101},{71,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,48}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{706,193},{47,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_yichu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{828,176},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,97}</string>
                <key>spriteSourceSize</key>
                <string>{94,97}</string>
                <key>textureRect</key>
                <string>{{556,103},{94,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>com.png</string>
            <key>size</key>
            <string>{963,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88b368043b46d77f3cbd2706555d078a:d419e88e7b50ab51593d692b8dacbae0:e6e1d41be9e9ac21801dc528a8878294$</string>
            <key>textureFileName</key>
            <string>com.png</string>
        </dict>
    </dict>
</plist>
